body {
    background-image: url('images/wallpaper01.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.center {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    text-align: center;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    50% {opacity: 0.5;}
    100% {opacity: 1;}
}

.animated-text {
    animation: fadeIn 3s ease-in-out infinite;
    font-size: 2em;
    margin-bottom: 0.0em;
}

.social-icons {
    position: fixed;
    bottom: 0;
    right: 0;
}

.social-icons img {
    max-width: 50px;
    max-height: 50px;
}

.clock {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
}

.hr {
    position: absolute;
    background: black;
    transform-origin: bottom center;
    width: 2px;
    height: 30%; /* longer hour hand */
    bottom: 50%;
    left: 50%;
}

.min {
    position: absolute;
    background: black;
    transform-origin: bottom center;
    width: 2px;
    height: 40%; /* longer minute hand */
    bottom: 50%;
    left: 50%;
}

.sec {
    position: absolute;
    background: black;
    transform-origin: bottom center;
    width: 2px;
    height: 50%; /* longest second hand */
    bottom: 50%;
    left: 50%;
}

.number {
    position: absolute;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 20px;
    top: 0%;
    left: 50%;
    transform-origin: 0% 500%;
    transform: translate(-50%, 100%);
}

#day {
    text-align: center;
    padding-top: 100px; /* Adjust as needed */
}